/** @format */

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.9s;
  animation-timing-function: ease;
}

::view-transition-old(root) {
  animation-name: fade-out;
}

::view-transition-new(root) {
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
